li {
  font-size: 2rem;
}

.main {
  font-size: 2px;
}

html {
  font-size: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  position: absolute;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* width: calc(100px + 200px + 1rem); */

  z-index: 1;
}

.modal {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  background-color: cornflowerblue;
  font-size: 20px;
  color: white;
  position: absolute;

  z-index: 3;
  overflow: hidden;
}

/* ----------------Единицы шрифта--------------- */
/* Проценты позволяют задать значение относительно базового
или
унаследованного шрифта. */
/* font-size: 150%;
В данном случае высота шрифта будет составлять 150% от
базового,
то есть 16px * 1,5 = 24px */
/* em - Единица измерения еm во многом эквивалентна
процентам. Так, 1em равен 100%,
.5em равно 50% и т.д. */
/* rem - 1rem=16px; */
/* -------------------------------------------------------- */
/*  ------------overlay------------ */
/* owerflow -  свойство overflow позволяет настроить
поведение блока в подобной ситуации и добавить возможность
прокрутки. Это свойство может принимать следующие значения:

auto: если контент выходит за границы блока, то создается
прокрутка. В остальных случаях полосы прокрутки не
отображаются

hidden: отображается только видимая часть контента.
Контент, который выходит за границы блока, не отображается,
а полосы прокрутки не создаются

scroll: в блоке отображаются полосы прокрутки, даже если
контент весь помещается в границах блока, и таких полос
прокрутки не требуется

visible: значение по умолчанию, контент отображается,
даже если он выходит за границы блока */
/* z-index -
CSS-свойство z-index определяет положение позиционированного
элемента и его дочерних элементов или флекс-элементов по
оси z. Перекрывающие элементы с большим значением z-index
будут накладываться поверх элементов с
меньшим z-index. */