body{
  height: 1000px;
}

h4{
  border: 1px solid black;
}

.test{
  border: 10px solid red;
  width: 100px;
  height: 100px;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* -----POSITIONING------ */
/* position:realive; - относительое позиц-ние
элемент позиционируется относительно
его позиции по умолчанию. Как правило, основная цель
относительного позиционирования заключается не в том,
чтобы переместить элемент, а в том, чтобы установить
новую точку привязки для абсолютного
позиционированния вложенных в него элементов.
 */
/* position:absolute - absolute: элемент позиционируется
относительно границ элемента-контейнера, если у того свойство
position не равно static
fixed: элемент позиционируется относительно окна бразуера,
это позволяет создать фиксированные элементы,
которые не меняют положения при прокрутке*/
